.head {
    display: flex;
    font-family: kode mono;
    color: rgb(36, 36, 94);
}

h1{
    font-size: 6rem;
    
}

.cont{
    display: flex;
    flex-direction: column;
    
}

.left1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex:1;
}


.right1 {
    flex:1;
    text-align: justify;
    margin-right: 90px;
    padding-top: 25px;
}

h5 {
    text-align: left;
    font-weight: 900;
}

p {
    font-family: Bahnschrift;
}

#bold {
    font-weight: 900;
}