
.ip {
  font-family: "Press Start 2P", system-ui;
  font-size: 600;
  color: #33334d;
  font-size: 1rem;
}

nav{

  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width:95%;
  height: 50px;
  /* text-shadow: 2px 2px #52527a; */
}

.custom-btn1 {
  min-width: 160px;
  min-height: 50px;
  color: #fff;
  margin: 30px;
  padding: 10px 25px;
  font-family: Kode mono;
  font-size: 0.8rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-3 {
  background: rgb(10, 10, 59);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  text-align: center;

}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  
  right: 0;
  top: 0;
   background: rgb(10, 10, 59);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgb(10, 10, 59);
   
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  margin-bottom:5px;
  content: "";
  left: 0;
  bottom: 0;
   background: rgb(10, 10, 59);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

.buttons {
  display: flex;
  
}
 /* ... (keep all existing styles) */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Kode mono;
  font-size: 0.8rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Adjust the existing button styles to accommodate the dropdown */
.buttons .dropdown {
  margin: 30px;
}

.buttons .dropdown .custom-btn1 {
  margin: 0;
}

#logout {
  min-width: 160px;
  min-height: 50px;
  color: #fff;
  margin: 30px;
  padding: 10px 25px;
  font-family: Kode mono;
  font-size: 0.8rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  
}

#logout{
  background: rgb(214, 18, 18);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
#logout span {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  text-align: center;

}
#logout:before,
#logout:after {
  position: absolute;
  content: "";
  
  right: 0;
  top: 0;
   background: rgb(228, 34, 9);
  transition: all 0.3s ease;
}
#logout:before {
  height: 0%;
  width: 2px;
}
#logout:after {
  width: 0%;
  height: 2px;
}
#logout:hover{
   background: transparent;
  box-shadow: none;
}
#logout:hover:before {
  height: 100%;
}
#logout:hover:after {
  width: 100%;
}
#logout span:hover{
   color: rgb(206, 18, 18);
   
}
#logout span:before,
#logout span:after {
  position: absolute;
  margin-bottom:5px;
  content: "";
  left: 0;
  bottom: 0;
   background: rgb(231, 19, 12);
  transition: all 0.3s ease;
}
#logout span:before {
  width: 2px;
  height: 0%;
}
#logout span:after {
  width: 0%;
  height: 2px;
}
#logout span:hover:before {
  height: 100%;
}
#logout span:hover:after {
  width: 100%;
}