#table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Adjust margin as needed */
    width: 90%; /* Adjust width as needed */
}

#wrapinfo{
    width:90%;
    margin:auto;
    padding-top:50px;

}
#capinfo {

    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(21, 27, 24);
}

.main-heading > h1 {
    font-family:Impact, Haettenschweiler, 'Arial', sans-serif;
    color:rgba(21, 21, 29, 0.742);
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.table th, .table td {
    border: 1px solid black;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    padding: 8px; /* Adjust padding as needed */
    text-align: left;
     /* Add border if needed */
}

.table th, thead{
    background-color: #f2f2f2;
    font-weight: 700;
    border: 2px solid black; /* Adjust header background color */
}

/* styles.css */
@keyframes blink {
    0% {
      background-color: #ff0000;
    }
    50% {
      background-color: #ffffff;
    }
    100% {
      background-color: #ff0000;
    }
  }
  
  .blinking-background {
    animation: blink 1s 10;
  }
  